
@tailwind base;
@tailwind components;
@tailwind utilities;

#App{
    background-color:rgba(255,255,255,0.2);
    position:absolute;
    width:100%;
    height:100%;
    >section{
        width:300px;
    }
    input{
        padding:5px;
    }
}

.absoluteCenter{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}

/*item*/
#Result{
    background-color:rgba(255,255,255,0.7);
    min-height:100vh;
    position:relative;
    padding:15px 0;
    h1{
        text-align:center;
        &.searchKeyword{
            text-transform:uppercase;
        }
    }
    .item{
        background-color:rgba(128,128,128,0.7);
        margin:5px;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        img{
            height:200px;
            width:100%;
            object-fit:cover;
        }
    }
    form{
        text-align:center;
    }
    .flex{
        flex-wrap:wrap;
    }
}

/*footer*/

footer{
    &.absolute{
        position:absolute;
        bottom:0;
        left:0;
    }
    width:100%;
    font-size:12px;
    background-color:rgba(255,255,255,0.5);
}
footer p{
    padding:5px;
}

/*Item page*/
#ItemDetailContainer{
    text-align:center;
    .placeImage{
        width:80%;
    }
    img{
        margin-left:auto;
        margin-right:auto;
    }
}
#DetailedInformationContainer{
    ul{
        text-align:center;
    }
    li,p{
        font-size:12px;
    }
    >div.inline-block{
        padding-top:10px;
    }
}
/*Comments*/
#Comments{
    width:80%;
    padding:1%;
    background-color:rgba(128,128,128,0.3);
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    margin-top:10px;
    .commentDiv>div:first-of-type{
        padding-top:2%;
        div{
            display:inline-block;
        }
    }
    .commentText{
        padding:2% 0;
        border-bottom:1px solid darkgrey;
    }
}

@media (min-width:768px){
    #DetailedInformationContainer{
        display:flex;
        width:80%;
        margin-left:auto;
        margin-right:auto;
        >div.inline-block{
            padding:0;
            padding-left:1%;
        }
        img{
            height:100%;
        }
    }
}
@media (min-width:1024px){
    #Result{
        .item{
            margin:15px;
        }
    }
}